/* * {
    border: 1px solid magenta;
} */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

page-content {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: calc(100dvh - 50px);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0px;
}

p {
    margin: 0;
    padding: 5px;
}

label {
    font-weight: bold;
}

details {
    width: 100%;
}

summary {
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
}

summary:hover {
    background-color: #EFEFEF;
}

details[open] summary {
    background-color: #EFEFEF;
}

alert-bar, current-radar {
    width: 400px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid red;
    border-radius: 10px
}

/* Header */
weather-header {
    width: 100%;
    height: 50px;
    background-color: #5555FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container h1 {
    color: white;
}

.alert-radar-combo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.alert-radar-combo > * {
    margin: 5px;
}

.page-container > * {
    margin: auto
}

/* Alerts */
#alert-container {
    width: 100%;
    padding: 5px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: auto;
}

.ol-overlaycontainer-stopevent {
    display: none;
}


#alert-container:empty {
    height: 0px;
}

.alert-indicator {
    display: block;
    height: 1rem;
    width: 4rem;
    border-radius: 4px;
}

.alert-box {
    height: 40px;
    padding: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-box:has(details[open]) {
    height: 300px;
}

.alert-event-label {
    font-weight: bold;
}

.alert-box .alert-area-description {
    margin: 0;
    padding: 5px;
    height: 60px;
    overflow: auto;
    text-align: center;
}

.alert-radar-chart-container {
    height: 125px;
    width: 100%;
}

.radar-container {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}

.radar-container img {
    width: 100%;
}

/*Chart JS custom tooltip*/
.tooltip-contents {
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0A0A0A;
}

.tooltip-contents p {
    margin: 5px;
}

.tooltip-contents label {
    font-weight: bold;
    max-width: 100px;
    text-align: center;
}

.tooltip-contents label:first-child {
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 1px solid black;
    margin-bottom: 2px;
}