/* * {
    border: 1px solid magenta;
} */


:root {
    --parrot-green-darker: rgb(35, 77, 32, 1);
    --parrot-green-dark: rgb(54, 128, 45, 1);
    --parrot-green-medium: rgb(119, 171, 89, 1);
    --parrot-green-light: rgb(201, 223, 138);
    --parrot-green-lighter: rgb(240, 247, 218, 1);
    --parrot-green-darker-30: rgb(35, 77, 32, .3);
    --parrot-green-darker-10: rgb(35, 77, 32, .1);
    --parrot-green-lighter-30: rgb(240, 247, 218, .3);
    --parrot-green-lighter-10: rgb(240, 247, 218, .1);

    --border: 1px solid var(--parrot-green-darker-30);
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    src: url('./fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--parrot-green-lighter-30);
    font-family: 'NotoSans';
    letter-spacing: .6px;
    color: var(--parrot-green-darker);
}

page-content {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: calc(100dvh - 50px);
    overflow: auto;
}


a {
    text-align: center;
    color: var(--parrot-green-dark);
}

a:hover {
    color: var(--parrot-green-medium)
}

a:visited {
    color: var(--parrot-green-darker)
}



label {
    text-align: center;
}


button {
    background-color: var(--parrot-green-darker);
    color: var(--parrot-green-lighter);
    border-radius: 5px;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 2px var(--parrot-green-dark);
    font-family: 'NotoSans';
    letter-spacing: .3px;
}

button:hover {
    background-color: var(--parrot-green-dark);
    box-shadow: 2px 2px 2px var(--parrot-green-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0px;
}

p {
    margin: 0;
    padding: 5px;
}

label {
    font-weight: bold;
}

details {
    width: 100%;
}

summary {
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border);
    padding: 4px;
    border-radius: 4px;
}

summary:hover {
    background-color: var(--parrot-green-lighter);
}

details[open] summary {
    background-color: var(--parrot-green-lighter);
}



/* Header */
body>h1 {
    width: 100%;
    height: 50px;
    background-color: var(--parrot-green-darker);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: var(--parrot-green-lighter);

}

/* Location Header */

.header-controls-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: var(--border);
    margin: 0;
    padding: 0px 10px;
    border-radius: 5px;
}

.header-controls-div forecast-header {
    display: flex;
    flex-wrap: wrap;
    max-width: 240px;
}

dialog {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    min-height: 600px;
    position: absolute;
    top: 20px;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

dialog button {
    padding: 10px;
    margin: 5px
}

dialog label {
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
}

#map-info-bar {
    position: absolute;
    top: 0;
    backgroundColor: blue;
    height: 30px;
    width: 100%;
}

#map-combo-container {
    position: relative;
    min-height: 300px;
    min-width: 300px;
    height: calc(100% - 200px);
    width: 100%;
}

#location-map {
    min-height: 300px;
    min-width: 300px;
    height: 100%;
    width: 100%;
}

.ol-overlaycontainer-stopevent {
    display: none;
}

.location-widget-container {
    display: flex;
    flex-direction: column;
}

.location-widget-container button {
    margin-top: 5px;
}

.location-widget-container button:last-of-type {
    margin-bottom: 5px;
}

/* Weekly Forecast */

#daily-forecast {
    display: flex;
    overflow: auto;
    height: 320px;
    width: 100%;
    background-color: var(--parrot-green-darker-30);
    border-radius: 5px;
}

.forecast-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    min-height: 280px;
    width: 200px;
    min-width: 200px;
    border: var(--border);
    margin: 10px;
    border-radius: 10px;
    background-color: var(--parrot-green-dark);
    color: var(--parrot-green-lighter);
}

.forecast-box p,
.forecast-box label {
    margin: 3px;
    padding: 7px;
}

.forecast-box .forecast-temperature {
    font-size: larger;
    font-weight: bold;
    padding: 0;
}

.forecast-box .forecast-description,
.forecast-box .forecast-label {
    padding: 0;
}

.forecast-box label {
    font-weight: bold;
}

.forecast-box:hover {
    display: flex;
    flex-direction: column;
    background-color: var(--parrot-green-medium);
}

.forecast-box[data-active="true"] {
    background-color: var(--parrot-green-darker);
    width: 320px;
    min-width: 320px;
}


.forecast-detailed-description {
    max-height: 100px;
    height: 100px;
    overflow: auto;
    padding-right: 10px;
}

.alert-radar-combo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.alert-radar-combo>* {
    margin: 5px;
}

.page-container>* {
    margin: auto
}

/* hourly chart */
#chart-overflow {
    height: 320px;
    width: 100%;
    overflow: auto;
    margin: auto;
    background-color: var(--parrot-green-darker-10);
    border-radius: 5px;
}

#chart-container {
    margin: 10px;
    height: 280px;
    width: 2000px;
}


/* Alerts */
alert-bar,
current-radar {
    width: 400px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: var(--border);
    border-radius: 5px;
    background-color: var(--parrot-green-darker-30);
}

#alert-container {
    width: 100%;
    padding: 5px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: auto;
}

.ol-overlaycontainer-stopevent {
    display: none;
}

#alert-container:empty {
    height: 0px;
}

.alert-indicator {
    display: block;
    height: 1rem;
    width: 4rem;
    border-radius: 4px;
}

.alert-box {
    padding: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    flex-shrink: 0;
}

.alert-event-label {
    font-weight: bold;
}

.alert-radar-chart-container {
    height: 125px;
    width: 100%;
}

.radar-container img {
    width: 100%;
}


/*Chart JS custom tooltip*/
.tooltip-contents {
    background-color: var(--parrot-green-lighter);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0A0A0A;
    box-shadow: 1px 1px 2px var(--parrot-green-darker-30);
}

.tooltip-contents p {
    margin: 5px;
}

.tooltip-contents label {
    font-weight: bold;
    max-width: 100px;
    text-align: center;
}

.tooltip-contents label:first-child {
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: var(--border);
    margin-bottom: 2px;
}