body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

page-content {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: calc(100dvh - 50px);
    overflow: hidden;
}

weather-header {
    width: 100%;
    height: 50px;
    background-color: #5555FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0px;
}

h1 {
    color: white;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.header-container {
    width: 100%;
    background-color: #5555FF;
}

p {
    margin: 0;
    padding: 5px;
}

alert-bar {
    min-width: 369px;
}

#alert-container {
    width: 50%;
    min-width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#alert-container:empty {
    height: 0px;
}

.alert-box {
    height: 230px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-box label {
    font-weight: bold;
}

.alert-box .alert-area-description {
    margin: 0;
    padding: 5px;
    height: 60px;
    overflow: auto;
    text-align: center;
}

.alert-radar-chart-container {
    height: 125px;
    width: 300px;
}

current-radar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    width: 50%;
}

.alert-radar-combo {
    display: flex;
    flex-wrap: wrap;
}

.radar-container {
    width: 100%;
    padding: 20px;
    display: flex;
}

.radar-container img {
    width: calc(100% - 40px);
    margin: auto;
}

.tooltip-contents {
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0A0A0A;
}

.tooltip-contents p {
    margin: 5px;
}

.tooltip-contents label {
    font-weight: bold;
    max-width: 100px;
    text-align: center;
}

.tooltip-contents label:first-child {
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 1px solid black;
    margin-bottom: 2px;
}